.task{
    margin-top: 3%;
  }
  
#listTask{
    margin-top:10px;
    color:white;
    list-style: none;
    padding:0;
  
}

#btnAddNewTask, #btnSaveChanges{
  margin: 0 auto;

}

.containerTask{
    color:white;
    background-color: rgba(0,0,0,0.5);
    padding:20px;
    border-radius:10px;
    margin-bottom:10%;

}


.footer{
    margin-top:1%;
    height:30px;
}

