html {
    height: 100%;
  }
  
  body{
    height: 100%;
    margin: 0;
  
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  footer{
    margin-top:10%;
  }
  
  h1{
    color:rgb(221, 221, 221);
  }

  h2{
    color:rgba(49, 49, 49, 0.9);
  }
  
  
  
/* Class */
.textCenter{
  text-align: center;
}

.elementFloatRight{
  float:right;
}

.borderBottomGrey{
  border-bottom: 1px solid rgb(153, 151, 151);

}


